
header{
    background-color: rgb(237, 245, 242);
    margin-bottom: 20px;
}

.logo{
    max-width: 10%;
}


footer{
    margin-top: 20px;
    background-color: rgb(237, 245, 242);
}
footer .logo{
    align-items:flex-end;
    max-width: 30px;
    
    
}

.footer_txt{
    padding: 20px ;
    text-align: center;
}


/*MENU*/
.menu_nav {
     
    margin-top: 30px;

}

.menu_nav a{
    background-color: rgb(5, 5, 5);

}

.menu_nav a:hover{

    background-color: ;

}


.active{
    background-color:aliceblue;
}


/*DESTAQUE*/

.destaque{
    background: rgb(233, 231, 231);
    margin-bottom: 20px;
}

.destaque img{

    max-width: 100%;
}

.destaque h1{
    text-align: center;
}

/*LANÇAMENTOS*/
.lancamentos{
    margin-bottom: 20px;
}

.lancamentos img{
max-width: 100%;
}
.lancamentos a{
    text-decoration: none;
}

.lancamentos select{
    margin-bottom: 20px;
}
.lancamentos iframe{
    width: 300;
    height: 240;
}


/*PLATAFORMA*/

.plataforma{margin-bottom: 20px;}
.plataforma img{

    max-width: 40%;
    
}
.plataforma text{
    text-align: center;
    
}
.publicidade{
    background: black;
}
.sobre{
    padding: 20px;
}