


.logo{
    max-width: 10%;
}



footer .logo{
    max-width: 50px;
}

/*menu*/
.menu {

    

}


/*DESTAQUE*/

.destaque{
    background: rgb(233, 231, 231);
}

.destaque img{

    max-width: 100%;
}

.destaque h1{
    text-align: center;
}

/*LANÇAMENTOS*/

.lancamentos img{
max-width: 100%;
}
.lancamentos a{
    text-decoration: none;
}

/*PLATAFORMA*/
.plataforma img{

    max-width: 50%;
    
}
.plataforma text{
    text-align: center;
    padding: 500px;
}